<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Prodotto Nome
          </th>
          <th>
            Soldi
          </th>
                 
          <th>
            
          </th>  
           <th>
          
          </th>  
        </tr>
        <tr>
          <div class="box">
          <select [(ngModel)]="progressinsert.prodotto">
            <option *ngFor="let p of prodotti" [ngValue]="p">{{ p.name }}</option>
           
          </select>
          </div>
          
          <td>
            <input placeholder="time" [(ngModel)]="progressinsert.time">
          </td>
          <td>
            <button (click)="Calcolo_inserisci_giorni(progressinsert)">Insert</button>
          </td>
          
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
      </table>
      <br><br><br><br><br><br><br><br><br>
      <table>
        <tr *ngFor="let progress of progressi">
          <td>
            <input [(ngModel)]="progress.prodotto.name" disabled>
          </td>
          <td>
            <input [(ngModel)]="progress.cash">
          </td>
          <td>
            <input [(ngModel)]="progress.expectation">
          </td>
          <td>
            <input [(ngModel)]="progress.time">
          </td>
        
          <td>
            <button (click)=update(progress)>Save</button>
          </td>
          <td>
            <button (click)="delete(progress)">Delete</button>
          </td>
        
        
        </tr>
        </table>
        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>