*{
    text-align: center;
}

table {
    border-collapse:collapse;
    width:100%;
    float: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-image: url('gift.jpg');


}


th, td {
    text-align: center;
    padding: 2px;
}

td{
    font-size: 16px;
}

  
  .box select {
    background-color: #0562af00;
    color: rgb(0, 0, 0);
    padding: 2px;
    margin-top: 3px;
    width: 150px;
    border: none;
    font-size: 15px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;

    -webkit-appearance: button;
    appearance: button;
    outline: none;
    
  
  }
  .box select:hover{

    border: 2px solid goldenrod;  
  }
  
  
  

  
  .box select option {
    padding: 30px;
  }

th {
    background-image: url('blue.jpg');
}

a:hover {
	color: #58c1db;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid goldenrod
}

button:hover{
    background-color: goldenrod;
}
