<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Soldi
          </th>
          <th>
            Percentuale
          </th>
          <th>
            Tempo
          </th>         
        </tr>
        <tr>
          <td>
            <input placeholder="cash" [(ngModel)]="progressinsert.cash">
          </td>
          <td>
            <input placeholder="expectation" [(ngModel)]="progressinsert.expectation">
          </td>
          <td>
            <input placeholder="time" [(ngModel)]="progressinsert.time">
          </td>
          
          <td>
            <button (click)="insert(progressinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let progress of progress">
          <td>
            <input [(ngModel)]="progress.cash">
          </td>
          <td>
            <input [(ngModel)]="progress.expectation">
          </td>
          <td>
            <input [(ngModel)]="progress.time">
          </td>
        
          <td>
            <button (click)=update(user)>Save</button>
          </td>
          <td>
            <button (click)="delete(user)">Delete</button>
          </td>
        
        
        </tr>
        </table>
        </div>
        <div class="col-md-1">

        </div>
      </div>
    </div>