<!--
<div id="mySidenav" class="row sidenav" >
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="col-md-12">
        <div>
            <button class="menubtn">
                <a [routerLink]="['/admin-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Dashboard </a>
            </button>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#account"
                (click)="accountcollapse()">
                <i class="fas fa-user" style="margin-right: 15px"></i> Account
            </button>
            <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"> <i class="fas fa-user-edit"
                            style="margin-right: 15px"></i>
                        Edit Profile</a>
                </button>
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"><i class="fas fa-file-alt"
                            style="margin-right: 15px"></i>General Info</a>
                </button>
            </div>
            
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#users"
                (click)="userscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Users
            </button>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Users </a>
                </button>
            </div>
            
            <button type= "button" class="menubtn" data-toggle="collapsebtn" data-target="#wishlists" 
             (click) ="wishlistsCollapse()"><i class="fas" style="margin-right: 15 px"></i>Wish lists
            </button>
            <div class="collapsebtn" id="wishlists" *ngIf="isWishListCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/wishlists']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Wish lists </a>
                </button>
            </div>
           
            <button type= "button" class="menubtn" data-toggle="collapsebtn" data-target="#categories" 
             (click) ="categoriesCollapse()"><i class="fas" style="margin-right: 15 px"></i>Categories
            </button>
            <div class="collapsebtn" id="categories" *ngIf="isCategoriesCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/categories']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Categories </a>
                </button>
            </div>
            
            <button type= "button" class="menubtn" data-toggle="collapsebtn" data-target="#portfolio" 
             (click) ="portfolioCollapse()"><i class="fas" style="margin-right: 15 px"></i>Portafoglio
            </button>
            <div class="collapsebtn" id="portfolio" *ngIf="isPortfolioCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/portfolio']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Wallets </a>
                </button>
            </div>
            
            <button type= "button" class="menubtn" data-toggle="collapsebtn" data-target="#prodotto" 
             (click) ="prodottoCollapse()"><i class="fas" style="margin-right: 15 px"></i>Prodotto
            </button>
            <div class="collapsebtn" id="prodotto" *ngIf="isProdottoCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/prodotto']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Products </a>
                </button>
            </div>
            
            <button type= "button" class="menubtn" data-toggle="collapsebtn" data-target="#progress" 
             (click) ="progressCollapse()"><i class="fas" style="margin-right: 15 px"></i>Progress
            </button>
            <div class="collapsebtn" id="prodotto" *ngIf="isProgressCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/progress']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Progresses </a>
                </button>
            </div>
            
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>

</div>
<div id="main">
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
</div> -->