<p>
  portfolio works!
</p>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Totalmoney
          </th>
          <th>
            Revenue
          </th>
          <th>
            Outputs
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="saldo" [(ngModel)]="portfoliotoinsert.totalmoney">
          </td>
          <td>
            <input placeholder="entrate" [(ngModel)]="portfoliotoinsert.revenue">
          </td>
          <td>
            <input placeholder="uscite" [(ngModel)]="portfoliotoinsert.outputs">
              
            
          </td>
          <td>
            <button (click)="insert(portfoliotoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let p of portfolio">
          <td>
            <input [(ngModel)]="p.totalmoney">
          </td>
          <td>
            <input [(ngModel)]="p.revenue">
          </td>
          <td>
            <input [(ngModel)]="p.outputs">
              
            
          </td>
          <td>
            <button (click)=update(p)>Save</button>
          </td>
          <td>
            <button (click)="delete(p)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>