
<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Saldo
          </th>
          <th>
            Entrate
          </th>
          <th>
            Uscite
          </th>
          <th>
            Data
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            
          </td>
          <td>
            <input class="color" placeholder="entrate" [(ngModel)]="portfoliotoinsert.revenue">
          </td>
          <td>
            <input class= "color" placeholder="uscite" [(ngModel)]="portfoliotoinsert.outputs">
              
            
          </td>
          <td></td>
          <td>
            <button class="button" (click)="insert(portfoliotoinsert)">Insert</button>
          </td>
          <td>
            <button class="button"(click)="clear()">Clear</button>
          </td>
        </tr>
      </table>
      <br><br><br><br><br><br><br>
      <table>
        <tr *ngFor="let p of portfolio">
          <td>
            <input class= "color" [(ngModel)]="p.totalmoney">
          </td>
          <td>
            <input class= "color" [(ngModel)]="p.revenue">
          </td>
          <td>
            <input class= "color" [(ngModel)]="p.outputs">
              
            
          </td>
          <td>
            {{ p.date | date: 'medium'
          

            }}
          </td>
          <td>
            <button class="button" (click)=update(p)>Save</button>
          </td>
          <td>
            <button class="button"(click)="delete(p)">Delete</button>
          </td>
        </tr>
      </table>
    <div class="color">
      {{
        saldoAttuale
      }}
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>