<!-- <h1>GESTISCI IL TUO PORTAFOGLIO!</h1>
    

<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">


    </div>
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            Saldo
          </th>
          <th>
            Entrate
          </th>
          <th>
            Uscite
          </th>

          <th>
            Data
          </th>

          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <input class="color" placeholder="entrate" [(ngModel)]="portfoliotoinsert.revenue">
          </td>
          <td>
            <input class="color" placeholder="uscite" [(ngModel)]="portfoliotoinsert.outputs">


          </td>
          <td></td>
          <td>
            <button class="button" (click)="insert(portfoliotoinsert)">Insert</button>
          </td>
          <td>
            <button class="button" (click)="clear()">Clear</button>
          </td>
        </tr>
      </table>
      <br>

      <br><br><i class="fas fa-wallet"></i><br><br>
      <table>
        <tr *ngFor="let p of portfolio">
          <td>
            <input class="color" [(ngModel)]="p.totalmoney">
          </td>
          <td>
            <input class="color" [(ngModel)]="p.revenue">
          </td>
          <td>
            <input class="color" [(ngModel)]="p.outputs">


          </td>
          <td class="color">

            {{ p.date | date: 'medium'
          

            }}



          </td>
          <td>

            <button class="button" (click)=update(p)><i class="fas fa-save"></i></button>

          </td>
          <td>



            <button class="button" (click)="delete(p)"><svg class="bi bi-trash" width="1em" height="1em"
                viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  clip-rule="evenodd" />
              </svg></button>

          </td>
        </tr>
      </table>
      <div class="color">

      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <!-- Button trigger modal 
        <button (click)=grafico() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal">
          Visualizza andamento saldo </button>

        <!-- Modal 
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Andamento monetario</h5>

              <canvas id="myChart1">{{
        mychart1 }}
              </canvas>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Button trigger modal 
        <button (click)=grafico1() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal1">
          Visualizza andamento entrate </button>

        <!-- Modal 
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Andamento entrate</h5>

              <canvas id="myChart2">{{
    mychart2
  }}
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Button trigger modal 
        <button (click)=grafico2() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal2">
          Visualizza andamento uscite </button>

        <!-- Modal 
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Andamento uscite</h5>

              <canvas id="myChart3">{{
                mychart3 }}

              </canvas>
            </div>
          </div>
        </div>
      </div> -->

<div class="container">

  <div class="row backgro" style="margin:10%; animation-name: fadeInDown;animation-duration: 2s;">

    <div class="col-md-12 " style="text-align: center;">

      <button type="button" class=" buttoninside" data-toggle="modal" data-target="#tempo">
        <i class="fas fa-euro-sign"></i> insert movements
      </button>

      <!-- Modal -->
      <div class="modal fade" id="tempo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content backbus">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Insert revenue and outputs</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="box">
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Revenue:</span>
                  </div><br>
                  <div class= "col-md-9">
                    
                    <input class="color" style=" margin-bottom: 2%" placeholder="revenue" [(ngModel)]="portfoliotoinsert.revenue">
                  </div>
                </div>

                  
                
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center ;color:blue">Outputs:</span>
                  </div>
                  <div class= "col-md-9">
                    <input class="color" placeholder="outputs" [(ngModel)]="portfoliotoinsert.outputs">
                  </div>
                </div>
              
            
                
              </div>

            </div>
            <div class="modal-footer">

              <button class="btn btn-primary" data-dismiss="modal" class="button"
                (click)="insert(portfoliotoinsert)">Insert</button>
              <td>
                <button class="button" (click)="clear()">Clear</button>
              </td>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row backgro" style="margin-bottom: 40px;"></div>



    <div class="col-md-12 " style="text-align:center">

      <div class="panel-group">
        <div class="panel panel-default">


          <div class="col-md-12 " style="text-align:center">

            <div class="panel-group">
              <div class="panel panel-default">


                <button class="buttoninside" data-toggle="collapse" href="#collapse1"><i ></i>
                  View Balance
                  </button>
              </div>


                <div id="collapse1" class="panel-collapse collapse">
                  <ul class="list-group">

                    
                  

                  
                  

                    




                    <div style="overflow-x:auto;">
                    <table>
                      <tr>
                        <th>
                          Total Money
                        </th>
                        <th>
                          Revenue
                        </th>
                        <th>
                          Outputs
                        </th>
              
                        <th>
                          Data
                        </th>
                      </tr>
                      <tr *ngFor="let p of portfolio">
                        <td>
                          <input class="color" [(ngModel)]="p.totalmoney">
                        </td>
                        <td>
                          <input class="color" [(ngModel)]="p.revenue">
                        </td>
                        <td>
                          <input class="color" [(ngModel)]="p.outputs">


                        </td>
                        <td class="color">

                          {{ p.date | date: 'medium'
        

          }}

                        </td>
                        <td>

                          <button class="button" (click)=update(p)><i class="fas fa-save"></i></button>

                        </td>
                        <td>



                          <button class="button" (click)="delete(p)"><svg class="bi bi-trash" width="1em" height="1em"
                              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                              <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                clip-rule="evenodd" />
                            </svg></button>

                            </td>
                      </tr>
                    </table>
                    </div>
                  </ul>
                </div>
              </div>



<div class="row">
      <div class="col-md-4">

                            
         <!--Button trigger modal -->
        <button (click)=grafico() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal">
          Show Balance Trend </button>

         <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Trend Balance</h5>

              <canvas id="myChart1">{{
        mychart1 }}
              </canvas>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button (click)=grafico1() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal1">
          Show Revenue Trend </button>

         <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Trend Revenue</h5>

              <canvas id="myChart2">{{
    mychart2
  }}
              </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button (click)=grafico2() type="button" class="btn btn-outline-primary" data-toggle="modal"
          data-target="#exampleModal2">
          Show Outputs Trend </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"></div>


              <h5 class="modal-title" id="myLargeModalLabel">Trend Outputs</h5>

              <canvas id="myChart3">{{
                mychart3 }}

              </canvas>
            </div>
          </div>
        </div>
      </div> 
</div>