<meta charset="UTF-8">
<div class="container">
  <div class="row mt-5" >
       <div class="col-md-1" >
      <a class="a1"(click)="nascondi()">+</a>
      </div>
      <div class="col-md-10">
          <table *ngIf="table" >
              <tr>
            <th>
            Name
            </th>
            <th>
              Description
            </th>
            <th>
              Rating
            </th>
            <th>
              Edit
            </th>
            <th>
              Category
            </th>
          </tr>
          <tr>
            <td>
              <input placeholder="inserisci nome" [(ngModel)]="categorytoinsert.name" required>
              </td>
              <td>
                <input placeholder="inserisci descrizione" [(ngModel)]="categorytoinsert.description">
              </td>
              <td class="rate">
                <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star5" name="rate" value="5" /><label for="star5" title="text">5 stars</label>
                <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star4" name="rate" value="4" /><label for="star4" title="text">4 stars</label>
                <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star3" name="rate" value="3" /><label for="star3" title="text">3 stars</label>
                <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star2" name="rate" value="2" /><label for="star2" title="text">2 stars</label>
                <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star1" name="rate" value="1" /><label for="star1" title="text">1 star</label>
               </td>
            <td>
              <button (click)="insert(categorytoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
        </table>
           <br><br>
           <br><br>
           <br><br>
           <br>
           <br>
           
          <div *ngFor="let category of categories">
            <h1>
              <a (click)="open()" [title]="category.name + 'details'">
                {{category.name}} </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a [title]="category.rating">
                  {{category.rating}} </a>                
                                                   
                    <button class="b1" (click)="delete(category)"> X </button>
            </h1>

            <div *ngIf="apri">
            <p *ngIf="category.description">
              Description: {{ category.description }}
              </p>                       
                                  
               </div>
                </div>
                
        
      </div>
      <div class="col-md-1">
       
      </div>
        </div>
      </div> 
    
      