<div class="container">
  <div class="row-mt-5">
    <div class="col-md-12">

      <!-- inserisci categoria button -->
      <button type="button" class="buttoninside" data-toggle="modal" data-target="#Modal">
        Insert new Category
      </button>
  
      <!-- Inserisci categoria pop up -->
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title " id="ModalLabel">Insert new Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table style="width:100%">
                <tr>
                  <th>
                    Name
                  </th>
                  <td>
                    <input placeholder="name" [(ngModel)]="categorytoinsert.name">
                  </td>
                </tr>
                <tr>
                  <th>
                   Description
                  </th>
                  <td>
                    <input placeholder="description" [(ngModel)]="categorytoinsert.description">
                  </td>
                </tr>
                <tr>
                  <th>
                    Rating
                  </th>
                  <td class="rating">
                    <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome "></label>
                    <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good"></label>
                    <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Good"></label>
                    <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad"></label>
                    <input [(ngModel)]="categorytoinsert.rating" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad"></label>
                   </td>
                </tr>
                <tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="a1" (click)="insert(categorytoinsert)"
                data-dismiss="modal">Inserisci</button>
              <button type="button" class="a2" (click)="clear()">Clear</button>
              <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
              <button type="button" class="a4" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>

      <!--  mostra categoria   -->


      <div *ngFor="let category of categories">
        <div class="border">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">{{category.name | uppercase }}</div>
              <div class="col-md-2"><button (click)="getprodotti(category.id)" class="fas fa-folder-open"
                  data-toggle="modal" [attr.data-target]="'#editModal'+category.id"></button>

                <!-- mostra la modal di categoria -->

                <div style="width: 100%;" class="modal fade" id="editModal{{category.id}}" tabindex="-1" role="dialog"
                  aria-labelledby="editModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <!--  non modificabile -->
                      <div *ngIf="canEdit == false">
                      <div class="modal-header">                       
                          <h5 class="modal-title" id="editModalLabel">{{category.name | uppercase }}
                         <span>&nbsp;&nbsp;&nbsp;&nbsp;
                           <i class="fas fa-star" style="color: gold" *ngFor="let rating of counter(category.rating)"> </i>
                            </span> </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <tr>
                            <th>Description:</th>
                            <td [title]="category.description" style="text-align: left;">
                              {{category.description}}</td>
                          </tr>
                           <br>
                        <div class="prod" *ngFor="let p of prodotti">
                          {{p.name}}
                          <a (click)="cancellaprod(p,category.id)">&otimes;</a>
                        </div>
                      </div></div>
                        <!--           can edit   -->
                      <div *ngIf="canEdit == true">
                        <div class="modal-header">        
                                          
                            <h5 class="modal-title" id="editModalLabel"><input [(ngModel)]="category.name">
                              <span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fas fa-star" *ngFor="let rating of counter(category.rating)"> </i>
                                 </span> </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                               </div>
                          <div class="modal-body">
                            <tr>
                              <th>Description:</th>
                              <td style="text-align: left;">
                                <input [(ngModel)]="category.description"></td>
                            </tr>
                             <br>
                          <div class="prod" *ngFor="let p of prodotti">
                            {{p.name}}
                            <a (click)="cancellaprod(p)">&times;</a>
                          </div>
                        </div></div>
                      <div class="modal-footer">
                        <button class="a6" (click)="makeEditable()">Edit</button>
                        <button class="a7" (click)="update(category)" data-dismiss="modal">Save</button>
                        <button class="a4" data-dismiss="modal" (click)="makeNotEditable()">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--             pulsante cancella    -->

              <div class="col-md-2"><button class="fas fa-trash" style="background-color: red;"
                  (click)=delete(category)></button></div></div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>

