* {
text-align: center;

}


/*Tables*/
  
   
@keyframes example {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	50%  {background-color: blue;}
	100% {background-color: green;}
}

table {
	border-collapse: collapse;
	width: 100%;
	float: bottom;
	border-radius: 25%;
	-moz-border-radius: 100px;
}

td {
	text-align: center;
	padding: 2px;
	font-size: 20px;
	color: black;
	
	}

tr:nth-child(even) {
	background-color: ivory;
	
}

th {
	background-color: rgb(255, 0, 0);
	color: #ffffff;
}


button {
display: inline-block;
color: white;
text-decoration: none;
padding: .5em 2em;
outline: none;
border-width: 2px 0;
border-style: solid none;
border-color: #FDBE33 #000 #D77206;
border-radius: 3px;
background: linear-gradient(#F3AE0F, #E38916) #E38916;
transition: 0.2s;

}
button:hover {
	 background: linear-gradient(#f5ae00, #f59500) #f5ae00;
	 }

button:active {
	 background: linear-gradient(#f59500, #f5ae00) #f59500;
	 }

	 div {
        
	font-size: inherit;
	font-size: 20px;
	
    
	 }

	 p{
		text-align: left;
	 }

	 h1{
		text-align: left;
	 }

	 


input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid crimson;
}

.a1 {
	position : relative;
	z-index: 1;
	display: inline-block;
	width: 1.3em;
	line-height: 1.3em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px rgba(255,255,255,.3);
	font-size: 300%;
	font-weight: 900;
	color: #000;
	border-radius: 100%;
	background: rgb(144,142,105) linear-gradient(rgb(185,181,151), rgb(144,142,105));
	box-shadow:
	inset 0 -2px 1px rgba(0,0,0,.5),
	inset 0 2px 1px rgba(255,255,255,.9),0 4px 4px rgba(0,0,0,.9);
	
	}
	
	.a1:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 12%;
	left: 12%;
	right: 12%;
	bottom: 12%;
	border-radius: 100%;
	background: rgb(242,203,20) linear-gradient(rgb(242,203,20), rgb(255,182,7));
	box-shadow:
	inset 0 2px 1px rgba(0,0,0,.5),
	inset 0 -2px 1px rgba(255,255,255,.3);
	
	}

.b1 {
	background-color: red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.prod {
	font-size: 24px;
	font-style: italic;
}