<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">
      <a (click)="nascondi()">+</a>
      </div>
      <div class="col-md-10">
          <table *ngIf="table" >
              <tr>
            <th>
            Name
            </th>
            <th>
              Description
            </th>
            <th>
              Rating
            </th>
            <th>
              Edit
            </th>
            <th>
              Category
            </th>
          </tr>
          <tr>
            <td>
              <input placeholder="inserisci nome" [(ngModel)]="categorytoinsert.name" required>
              </td>
              <td>
                <input placeholder="inserisci descrizione" [(ngModel)]="categorytoinsert.description">
              </td>
              <td>
                <select placeholder="inserisci valutazione" [(ngModel)]="categorytoinsert.rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
              </td>
            <td>
              <button (click)="insert(categorytoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
        </table>
           <br><br>
           <br><br>
           <br><br>
           <br>
           <br>
           
          <div *ngFor="let category of categories">
            <div>
              <input [(ngModel)]="category.name" required>
            
              <input [(ngModel)]="category.description">
           
              <select [(ngModel)]="category.rating">
                <option [selected]="category.rating===0" value="0">0</option>
                <option [selected]="category.rating===1" value="1">1</option>
                <option [selected]="category.rating===2" value="2">2</option>
                <option [selected]="category.rating===3" value="3">3</option>
                <option [selected]="category.rating===4" value="4">4</option>
                <option [selected]="category.rating===5" value="5">5</option>
                </select>
               
                  <button (click)=update(category)>Insert</button>
                
                  <button (click)="delete(category)"> Delete </button>
                </div>
                </div>
        
      </div>
      <div class="col-md-1">
       
      </div>
        </div>
      </div> 
     
      