<!-- <div class= "container">
  
  <h1 style="text-align: center">Welcome {{user.username}}</h1>
  <p>
    "Bevenuti in IWish"
  </p>
</div> -->

<!-- about -->

  <div class="row">
    <div class="col-md-12 backgro" style=" text-align:center;margin-top:0px; padding: 2% ">
    <h1 ><img class="imglogo" src="../../../assets/iwish-logo.png  " /></h1>
           
      <h3 style="text-shadow: 0 0 3px  rgb(199, 177, 50), 0 0 5px  rgb(199, 177, 50)"><i style="text-shadow: 0 0 3px  rgb(199, 177, 50), 0 0 5px  rgb(199, 177, 50)"class="fas fa-user-circle"></i> Welcome {{user.login}}
        <i class="fas fa-piggy-bank"></i> Your balance: {{saldoAttuale}} € </h3>

    </div>
  </div>
  
  <div class="row " style=" margin:2%">


    <div *ngFor="let prodotto of prodotti" style ="margin: 2%">
      <div class="card " style="width: 18rem; box-shadow: 1px 1px 2px black, 0 0 50px gold, 0 0 5px gold; "
        *ngIf="prodotto.price<=saldoAttuale">

        <img class="card-img-top" src="../../../assets/prodotti.jpg" alt="Card image cap" *ngIf="prodotto.image===''">
          <img class="card-img-top" [src]="prodotto.image" width="275px" height="183px" *ngIf="prodotto.image">
        <div class="card-body ">
          <h5 class="card-title">{{prodotto.name}}</h5>
          
          <p class="card-text">{{prodotto.price}}</p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-right: 3%; margin-bottom: 1%; border: solid 1px black;"
        *ngIf="prodotto.price>saldoAttuale">

        <img class="card-img-top" src="../../../assets/prodotti.jpg" alt="Card image cap" *ngIf="prodotto.image===''">
          <img class="card-img-top" [src]="prodotto.image" width="275px" height="183px" *ngIf="prodotto.image">
        <div class="card-body ">
          <h5 class="card-title">{{prodotto.name}}</h5>
   
          <p class="card-text">{{prodotto.price}}</p>
         
        </div>
      </div>

    </div>







    <div class="hero__content">


    </div>
  </div>