<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">
 
    </div>
  <div class="col-md-10">
  <table>
    <tr>
      <th>
        Nome
      </th>
      <th>
        Descrizione
      </th>
      <th>
        Prezzo
      </th>
      <th>
        Priorità
      </th>
      <th>
        WishList
      </th>
      <th>
        Categoria
      </th>
      <th>
        Edit
      </th>
      <th>
        Clear
      </th>
    </tr>
    <tr>
      <td>
        <input placeholder="Nome" [(ngModel)]="prodottotoinsert.name">
      </td>
      <td>
        <input placeholder="Descrizione" [(ngModel)]="prodottotoinsert.description">
      </td>
      <td>
        <input placeholder="Prezzo" [(ngModel)]="prodottotoinsert.price">
      </td>
      <td>
        <input placeholder="Priorità" [(ngModel)]="prodottotoinsert.priority">
      </td>
      <td>
      <select [(ngModel)]="wishlist_id">
        <option *ngFor="let w of wishlists" [ngValue]="w">{{ w.name }}</option>
       </select>
      </td>
      <td>
       <select [(ngModel)]="category_id">
        <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
       </select>
      </td>
      <td>
        <button (click)="insert(prodottotoinsert)"> Insert </button>
      </td>
      <td>
        <button (click)="clear()"> clear </button>
      </td>
    </tr>
    <tr *ngFor="let prodotto of prodotti">
      <td>
        <input [(ngModel)]="prodotto.name">
      </td>
      <td>
        <input [(ngModel)]="prodotto.description">
      </td>
      <td>
        <input [(ngModel)]="prodotto.price">
      </td>
      <td>
        <input [(ngModel)]="prodotto.priority">
      </td>
      <td>
      <select [(ngModel)]="wishlist_id">
        <option *ngFor="let w of wishlists" [ngValue]="w">{{ w.name }}</option>
       </select>
      </td>
      <td>
       <select [(ngModel)]="category_id">
        <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
       </select>
      </td>
      <td>
        <button (click)=update(prodotto)>Save</button>
      </td>
      <td>
        <button (click)="delete(prodotto)">Delete</button>
      </td>
    </tr>
  </table>
  
  </div>
   
  </div>
</div>


