*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 100%;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

th, td {
	text-align: center;
	padding: 2px;
}

td{
    font-size: 16px;
}


tr:nth-child(even) {
	background-color: #89bbe9;
}

th {
	background-color: #171b61;
	color: #ffffff;
}

a:hover {
	color: #000000;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid goldenrod;
}

button:hover{
    background-color: goldenrod;
}
