<!--<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">
 
    </div>
  <div class="col-md-10">
  <table class="blueTable">
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>Priorità</th>
      <th>WishList</th>
      <th>Categoria</th>
      <th>Edit</th>
      <th>Clear</th>
    </tr>
    <tr>
      <td>
        <input class="color" placeholder="Nome" [(ngModel)]="prodottotoinsert.name">
      </td>
      <td>
        <input class="color" placeholder="Descrizione" [(ngModel)]="prodottotoinsert.description">
      </td>
      <td>
        <input class="color" placeholder="Prezzo" [(ngModel)]="prodottotoinsert.price">
      </td>
      <td>
        <input class="color" placeholder="Priorità" [(ngModel)]="prodottotoinsert.priority">
      </td>
      <td>
      <select class="color" [(ngModel)]="prodottotoinsert.wishlist">
        <option *ngFor="let w of wishlists" [ngValue]="w">{{ w.name }}</option>
       </select>
      </td>
      <td>
       <select class="color" [(ngModel)]="prodottotoinsert.category">
        <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
       </select>
      </td>
      <td>
        <button class="button" (click)="insert(prodottotoinsert)"> Insert </button>
      </td>
      <td>
        <button class="button" (click)="clear()"> clear </button>
      </td>
    </tr>
    
    <tr *ngFor="let prodotto of prodotti">
      <td>
        <input class="color" [(ngModel)]="prodotto.name">
      </td>
      <td>
        <input class="color" [(ngModel)]="prodotto.description">
      </td>
      <td>
        <input class="color" [(ngModel)]="prodotto.price">
      </td>
      <td>
        <input class="color" [(ngModel)]="prodotto.priority">
      </td>
      <td>
      <select class="color" [compareWith]="compareWishLists" [(ngModel)]="prodotto.wishlist">
        <option *ngFor="let w of wishlists" [ngValue]="w" >{{ w.name }}</option>
       </select>
      </td>
      <td>
       <select class="color" [compareWith]="compareFn" [(ngModel)]="prodotto.category">
        <option *ngFor="let c of categories" [ngValue]="c" >{{ c.name }}</option>
       </select> 
      </td>
      <td>
        <button class="button" (click)=update(prodotto)>Save</button>
      </td>
      <td>
        <button class="button" (click)="delete(prodotto)">Delete</button>
      </td>
    </tr> 
  </table>
  
  </div>
   
  </div>
</div> -->

<div class="container">

  <div class="row backgro">

    <div class="col-md-12 " style="text-align: center;">

      <button class=myButton data-toggle="modal" data-target="#prodotto">
        <i>Inserisci un Prodotto</i>
      </button>
      <br><br><br><br><br><br>
      <!-- Modal -->
      <div class="modal fade" id="prodotto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content backbus">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Inserisci il prodotto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="box">
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Nome:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" [(ngModel)]="prodottotoinsert.name">
                  </div>
                  <br>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Descrizione:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" [(ngModel)]="prodottotoinsert.description">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Prezzo:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" [(ngModel)]="prodottotoinsert.price">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Priorità:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" [(ngModel)]="prodottotoinsert.priority">
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">WishList:</span>
                  </div>
                  <div class="col-md-9">
                    <select class="color" [(ngModel)]="prodottotoinsert.wishlist">
                      <option *ngFor="let w of wishlists" [ngValue]="w">{{ w.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <span style="text-align: center;">Priorità:</span>
                  </div>
                  <div class="col-md-9">
                    <select class="color" [(ngModel)]="prodottotoinsert.category">
                      <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)=insert(prodottotoinsert) type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div *ngFor="let prodotto of prodotti" class="card"
          style="width: 18rem; margin-right: 3%; margin-bottom: 1%; border: solid 1px black;">
          <img class="card-img-top" src="../../../assets/prodotti.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{prodotto.name}}</h5>
            <p class="card-text">{{prodotto.description}}</p>
            <p class="card-text">{{prodotto.price}}</p>
            <p class="card-text">{{prodotto.priority}}</p>
            <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#editModal' + prodotto.id"
              style="margin-right: 2%;">Edit</button>
            <button class="btn btn-danger fas fa-trash-alt" (click)="delete(prodotto)"></button>
          </div>

          <!---------------------------------EDIT MODAL --------------------------------------------->

          <div class="modal fade" id="editModal{{prodotto.id}}" tabindex="-1" role="dialog"
            aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel">Edit Prodotto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-md-3">
                    <span class="span2" style="text-align: left;">Nome:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" type="text" [(ngModel)]="prodotto.name" placeholder="Name"><br>
                  </div>
                  <div class="col-md-3">
                    <span style="text-align: left;">Descrizione:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" type="text" [(ngModel)]="prodotto.description"><br>
                  </div>
                  <div class="col-md-3">
                    <span style="text-align: left;">Prezzo:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" type="text" [(ngModel)]="prodotto.price" placeholder="Prezzo"><br>
                  </div>
                  <div class="col-md-3">
                    <span style="text-align: left;">Priorità:</span>
                  </div>
                  <div class="col-md-9">
                    <input class="color" type="text" [(ngModel)]="prodotto.priority" placeholder="Priorità"><br>
                  </div>
                  <select class="color" [compareWith]="compareWishLists" [(ngModel)]="prodotto.wishlist">
                    <option *ngFor="let w of wishlists" [ngValue]="w">{{ w.name }}</option>
                  </select>
                  <select class="color" [compareWith]="compareFn" [(ngModel)]="prodotto.category">
                    <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
                  </select>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="update(prodotto)"
                    data-dismiss="modal">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>